:root {
  --cal-color: #2c4938;
  --com-color: #1c2f4a;
  --stu-color: #C25400;
  --body-background: #8E9BAC;
  --even-color: #e5ebf1;
  --odd-color: #d9e2ec;
  --theme-white: #fff;
  --theme-black: #000;
  --theme-grey: #ccc;
  --light-grey: #999;
  --dark-grey: #777;
  --link-color: #4f679e;
  --link-hover-color: #df6d1b;
  --main-color: #275a3b;
  --main-offset: #dde0e7;
}